<div class="tg-controls">
    <div class="tg-control-page" ng-class="{'tg-control-page-active': ctrl.getCurrentPage() == 0}"
         ng-click="ctrl.goPageRelative(-1, doScroll)"> &lt; </div>

    <div ng-repeat="num in utils.range(1, ctrl.numberOfPages())" class="tg-control-page"
         ng-class="{'tg-control-page-active': ctrl.getCurrentPage() + 1 == num}"
         ng-click="ctrl.changePage(num - 1, doScroll)">
        {{num}}
    </div>

    <div class="tg-control-page" ng-class="{'tg-control-page-active': ctrl.getCurrentPage() + 1 >= numberOfPages()}"
         ng-click="ctrl.goPageRelative(1, doScroll)">
        &gt; </div>
</div>